<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Tenant1</servlet-name>
        <servlet-class>pro.Tenant1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tenant2</servlet-name>
        <servlet-class>pro.Tenant2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cloud</servlet-name>
        <servlet-class>pro.Cloud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRMS</servlet-name>
        <servlet-class>pro.CRMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>pro.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>pro.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDown</servlet-name>
        <servlet-class>cloud.FileDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>pro.buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signncheck</servlet-name>
        <servlet-class>pro.signncheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tenant1</servlet-name>
        <url-pattern>/Tenant1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tenant2</servlet-name>
        <url-pattern>/Tenant2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cloud</servlet-name>
        <url-pattern>/Cloud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRMS</servlet-name>
        <url-pattern>/CRMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDown</servlet-name>
        <url-pattern>/FileDown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signncheck</servlet-name>
        <url-pattern>/signncheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
